<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>OnlineDisk</display-name>
	<welcome-file-list>
    	<welcome-file>index.do</welcome-file>
  	</welcome-file-list>
  	<error-page>
    	<error-code>404</error-code>
    	<location>/error/404.jsp</location>
  	</error-page>
  	<error-page>
    	<error-code>500</error-code>
    	<location>/error/500.jsp</location>
  	</error-page>
  
	<!-- 服务启动的时候 读 applicationContext.xml配置文件  -->
	<context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<listener>
	    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
	    <servlet-name>springMVC</servlet-name>
	    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	    <init-param>
	  	    <param-name>contextConfigLocation</param-name>
	  	    <param-value>classpath:springmvc.xml</param-value>
	  	</init-param>
	  	<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	    <servlet-name>springMVC</servlet-name>
	    <url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<!-- 编码过滤器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
      		<param-name>forceEncoding</param-name>
      		<param-value>true</param-value>
    	</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
        <filter-name>sessionFilter</filter-name>
        <filter-class>com.netpan.filter.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sessionFilter</filter-name>
        <url-pattern>*.do</url-pattern>
        <url-pattern>*.jsp</url-pattern>
     </filter-mapping>
</web-app>